<div>
	sherpa
	<h1><%= pageContext.title %></h1>
	<p><%= pageContext.content %></p>
</div>

<p><a href="/singlepage/<%= pageContext.previousPage %>">Previous Page</a><p>
<p><a href="/singlepage/<%= pageContext.nextPage %>">Next Page</a><p>